.transactions {
  figure {
    display: flex; /* Flex display for layout of the balance */
    justify-content: space-between; /* Space between elements in the figure */
  }

  .form-row {
    display: flex; /* Flex display for transaction form rows */
    justify-content: space-between; /* Space between input and buttons */
    margin-bottom: 0.5rem; /* Margin below each form row */
  }

  input,
  button {
    margin: 0 0.5rem; /* Margin for inputs and buttons for spacing */
  }
}
